<?xml version="1.0"?>
<config>
    <tabs>
        <bootstrapsettings translate="label" module="settings">
            <label>Custom Settings</label>
            <sort_order>100</sort_order>
        </bootstrapsettings>
    </tabs> 
    <sections>
        <bootstrapsettings translate="label" module="settings">
            <label>Settings</label>
            <tab>bootstrapsettings</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store> 
            <groups>
                <home translate="label">
                    <label>Home Page</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <featured_cats translate="label">
                            <label>Featured Categories</label>
                            <comment>comma separated list of category ids to feature</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </featured_cats>
                        <featured_products_cat translate="label">
                            <label>Featured Products Category</label>
                            <comment>parent category of featured products</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </featured_products_cat>
                    </fields>
                </home>
            </groups>
        </bootstrapsettings>
    </sections>
</config>